<!DOCTYPE html>
<html>
  <head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
  </head>

  <body>
    <div id="app">
      <section class="row">
        <div class="small-6 columns">
          <h1 class="text-center">YOU</h1>

          <div class="healthbar">
            <div class="healthbar text-center"
              :style="{
                backgroundColor: healthColor(player.health),
                margin: 0,
                color: 'white',
                width: player.health + '%',
              }"
            >
              {{ player.health }}
            </div>
          </div>
        </div>

        <div class="small-6 columns">
          <h1 class="text-center">MONSTER</h1>

          <div class="healthbar">
            <div class="healthbar text-center"
              :style="{
                backgroundColor: healthColor(monster.health),

                margin: 0,
                color: 'white',
                width: monster.health + '%',
              }"
            >
              {{ monster.health }}
            </div>
          </div>
        </div>
      </section>

      <section v-if="!gameStarted" class="row controls">
        <div class="small-12 columns">
          <button
            id="start-game"
            @click.prevent="startGame"
          >
            START NEW GAME
          </button>
        </div>
      </section>

      <section v-if="gameStarted" class="row controls">
        <div class="small-12 columns">
          <button
            :disabled="!isTurn('player')"
            id="attack"
            @click="playerAttacks"
          >
            ATTACK
          </button>

          <button
            :disabled="!isTurn('player')"
            id="special-attack"
            @click="playerAttacks({ special: true })"
          >
            SPECIAL ATTACK
          </button>

          <button
            :disabled="!isTurn('player')"
            id="heal"
            @click="playerHeals"
          >
            HEAL
          </button>

          <button
            :disabled="!isTurn('player')"
            id="give-up"
            @click="playerGivesUp"
          >
            GIVE UP
          </button>
        </div>
      </section>

      <section
        v-if="gameStarted && log.entries.length"
        class="row log"
      >
        <div class="small-12 columns">
          <ul>
            <li
              v-for="entry in log.entries"
              :class="entry.actor.name.toLowerCase() + '-turn'"
            >
              {{ entry.actor.name }}
              {{ entry.action }}
              {{ entry.amount }}
            </li>
          </ul>
        </div>
      </section>

      <section v-if="gameOver" class="row">
        <div class="small-12 columns">
          <h1 style="text-align: center;">
            {{ printWinnerName() }} has won!
          </h1>
        </div>
      </div>
    </div>

    <script src="js/app.js"></script>
  </body>
</html>
