<!DOCTYPE html>
<html>
  <head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
  </head>

  <body>
    <div id="app">
      <section class="row">
        <div class="small-6 columns">
          <h1 class="text-center">YOU</h1>
          <div class="healthbar">
            <div class="healthbar text-center"
              :style="{
                backgroundColor: healthColor(player.health),
                margin: 0,
                color: 'white',
                width: player.health + '%',
              }"
            >
              {{ player.health }}
            </div>
          </div>
        </div>
        <div class="small-6 columns">
          <h1 class="text-center">MONSTER</h1>

          <div class="healthbar">
            <div class="healthbar text-center"
              :style="{
                backgroundColor: healthColor(monster.health),

                margin: 0,
                color: 'white',
                width: monster.health + '%',
              }"
            >
              {{ monster.health }}
            </div>
          </div>
        </div>
      </section>

      <section v-if="!gameInProgress" class="row controls">
        <div class="small-12 columns">
          <button id="start-game" @click.prevent="startGame">START NEW GAME</button>
        </div>
      </section>

      <section v-if="gameInProgress" class="row controls">
        <div class="small-12 columns">
          <button :disabled="!player.isDeciding" id="attack" @click="attackMonster">ATTACK</button>
          <button :disabled="!player.isDeciding" id="special-attack" @click="attackMonster({ special: true })">SPECIAL ATTACK</button>
          <button :disabled="!player.isDeciding" id="heal" @click="healPlayer">HEAL</button>
          <button :disabled="!player.isDeciding" id="give-up" @click="giveUp">GIVE UP</button>
        </div>
      </section>

      <section v-if="gameInProgress && actionLog.length" class="row log">
        <div class="small-12 columns">
          <ul>
            <li v-for="entry in actionLog" :class="entry.actor.toLowerCase() + '-turn'">
              {{ entry.actor }}
              {{ entry.action }}
              {{ entry.result }}
            </li>
          </ul>
        </div>
      </section>

      <section v-if="gameOver" class="row">
        <div class="small-12 columns">
          <h1 style="text-align: center;">
            <template v-if="winner">
              {{ winner }} has won!
            </template>

            <template v-else>
              It's a tie!
            </template>
          </h1>
        </div>
      </div>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          gameInProgress: false,
          gameOver: false,

          actionLog: [],

          player: {
            health: 100,
            justHealed: false,
            gaveUp: false,
            isDeciding: true,
          },

          monster: {
            health: 100,
            isAttacking: false,
          },
        },

        computed: {
          winner: function() {
            if (this.player.gaveUp)
              return "monster";

            return this.player.health < this.monster.health ?
              "monster" : "player";
          },
        },

        methods: {
          startGame: function() {
            this.monster.health = 100;
            this.player.health = 100;
            this.actionLog = [];
            this.gameInProgress = true;
            this.gameOver = false;
            this.player.gaveUp = false;
          },

          giveUp: function() {
            this.player.gaveUp = true;
            this.endGame();
          },

          endGame: function() {
            this.gameInProgress = false;
            this.gameOver = true;
          },

          attackMonster: function(opts) {
            opts = Object.assign({}, { special: false }, opts);
            var attack = this.getAttack(opts);
            this.removeHealth(this.monster, attack.damage);

            this.log({
              actor: "Player",
              action: attack.action,
              result: attack.damage,
            });

            this.retaliate({ special: opts.special });
          },

          retaliate: function(opts) {
            this.player.isDeciding = false;
            this.monster.isAttacking = true;

            var vm = this;

            setTimeout(function() {
              opts = Object.assign({}, { special: false, }, opts);

              var attack = vm.getAttack(opts);

              vm.removeHealth(vm.player, attack.damage);

              vm.log({
                actor: "Monster",
                action: attack.action,
                result: attack.damage,
              });

              vm.player.isDeciding = true;
              vm.player.justHealed = false;
              vm.monster.isAttacking = false;
            }, 500);
          },

          removeHealth: function(target, amount) {
            if (target.health - amount <= 0) {
              target.health = 0;
              this.endGame();
            } else {
              target.health -= amount;
            }
          },

          healPlayer: function() {
            var healAmt = this.getHealAmount({
              currentHealth: this.player.health,
            });

            this.player.health += healAmt;
            this.player.justHealed = true;

            this.log({
              actor: "Player",
              action: "healed",
              result: healAmt,
            });

            this.retaliate();
          },

          healthColor: function(health) {
            switch(true) {
              case (health > 65): return "green";
              case (health > 35): return "orange";
              case (health > 15): return "darkred";
              default: return "red";
            };
          },

          log: function(entry) {
            this.actionLog.unshift(entry);
          },

          getAttack: function(opts) {
            var vm = this;
            var attack = {
              damage: 0,
              action: "attacked",
            };

            attack.isSpecial = setSpecialAttack(opts.special);
            attack.damage = calculateAttackDamage(attack);
            attack.action = getAttackAction(attack);

            return attack;

            function setSpecialAttack(special) {
              if (vm.monster.isAttacking && special) {
                // random chance that monster retaliates
                // against a special with special
                var idx = [Math.floor(Math.random()*2)];
                return new Array(true, false)[idx];
              } else {
                return special;
              }
            }

            function calculateAttackDamage(attack) {
              var maxDamage = 10;

              if (attack.isSpecial) {
                maxDamage = 15;
              }

              if (vm.monster.isAttacking && vm.player.justHealed)
                maxDamage = 5;

              return Math.floor(
                Math.random() * Math.floor(maxDamage)
              );
            }

            function getAttackAction(attack) {
              if (attack.damage == 0) {
                return "missed";
              } else if (attack.isSpecial) {
                return "attacked with SPECIAL!";
              } else {
                return "attacked";
              }
            }
          },

          getHealAmount: function(opts) {
            if (opts.currentHealth <= 90) {
              var amt = Math.floor(Math.random() * Math.floor(10));
              return amt == 0 ? 5 : amt;
            } else {
              return 100 - opts.currentHealth;
            }
          },
        },
      });
    </script>
  </body>
</html>
